[submodule "back"]
	path = back
	url = https://github.com/cocofly59/easyARTech-back
[submodule "front"]
	path = front
	url = https://github.com/cocofly59/easyARTech-front.git
[submodule "infra"]
	path = infra
	url = https://github.com/cocofly59/easyARTech-infra.git
